UID=1000
GID=1000
DOCKER_NAME=project

CURRENT_DIR=$(patsubst %/,%,$(dir $(realpath $(firstword $(MAKEFILE_LIST)))))
ROOT_DIR=$(CURRENT_DIR)
DOCKER_COMPOSE=docker compose
DOCKER_EXEC_TOOLS_APP=docker exec -it $(DOCKER_NAME) sh
NODE_INSTALL="npm i"
NODE_CREATE="npm create vite@latest"
BUNDLE_RUN="npm run build"
CLEAN_RUN="rm -r dist/*"
SERVER_RUN="npm run dev -- --host"
TEST_RUN="npm run test:unit"
TEST_RUN_WATCH="npm run test-watch:unit"
